.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html,body{
  background: #ededed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HeaderMain{
  background-color:#fff;
  width: 100%;
  position: relative;
  height: 50px;
}
svg{
  background-color: transparent;
}
.header_select{
  width: 8%;
  background: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 2%;
  padding: 5px 0px;
  border-radius: 2px;
  border: 0.5px solid rgb(128, 128, 128);
  box-shadow: 1px 2px 5px 0px rgb(143, 140, 140);
}
.header_select .Displayselect{
  display: flex;
  font-family: sans-serif;
  border: none;
  width: 60px;
  background-color: transparent;
  margin: 0 0px 0 10px;
  outline: none;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.Displayselect svg{
  margin: 3% 8%;

}
.displayModal{
  position: absolute;
  top: 86%;
  background: #F8F8FA;
  left: 1.8%;
  padding: 5px 15px;
  border-radius: 5px;
  border: 0.5px solid lightgray;
  box-shadow: 1px 2px 5px 0px lightgray;
  transition: opacity 1000ms, display 500ms;
  display: none;
  opacity: 0;
}
.displayModal span{
  font-family: sans-serif;
  color: #8D9095;
  font-size: 11px;
}
.displayModal select{
  margin: 5% 0px 5% 71px;
  font-size: 10px;
  padding: 3px;
  width: 80px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.modalshow{
  display: block;
  opacity: 1;
  transition: 2s;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 12px;
}

.top-menu .Item-name {
  /* display: flex;
  justify-content: space-between; */
  width: 80%;
  font-size: 12px;
}

.top-menu .Item-name span {
  font-weight: bold;
  margin-right: 4%;
  float: left;
}

.top-menu .Item-name svg {
  margin-right: 5%;
  float: left;
}

.row {
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
}

.TaskContainer {
  width: 18%;
  margin: 1%;
  font-family: sans-serif;
  font-size: 12px;
}

.Main-Task-container {
  display: flex;
  margin: 5% 0;
  padding: 5% 5%;
  background: #ffffff;
  justify-content: space-between;
  border: 0.5px solid rgb(197, 194, 194);
  box-shadow: 1px 1px 4px 0px rgb(142, 141, 141);
  border-radius: 3px;
  cursor: pointer;
  height: 100px;
}

.Main-Task-container p {
  font-size: 11px;
  margin: 10px 0;
  font-weight: 600;
}

.CAM-value {
  color: #8D9095;
  margin: 5px 0 !important;
  font-size: 12px !important;
}

.task-bottom {
  display: flex;
  justify-content: space-between;
  width: 63%;
}

.featureBox {
  color: #8D9095;
  font-size: 9px;
  border: 0.09px solid lightgray;
  padding: 2px;
  border-radius: 2px;
}

.featureBox span {
  margin: 5px;
}

.taskBox {
  width: 90%;
}

.NoTask {
  margin: 5% 2px;
  font-size: 13px;
  color: #8D9095;
}

.userIcon {
  color: #c82703;
  font-size: 16px;
  margin: 25%;

}
.task-bottom{
  width: 50%;
}

@media only screen and (max-width:768px)
{
    .header_select {
        width: 35%;
    }
    .row {
        display: block;
    }
    .TaskContainer {
        width: 95%;
        background: white;
        padding: 15px 9px;
        border-radius: 6px;
        border: 0.5px solid lightgray;
        box-shadow: 1px 1px 4px 0px lightgray;
        margin: 5% auto;
    }
    .HeaderMain {
        margin-bottom: 5%;
    }     
    .task-bottom {
        width: 40%;
    }
}